<div class="table-responsive">
<table class="table">
    <thead>
    <tr>
        <th class="bold small color-2 alpha-5">Video</th>
        <th class="bold small color-2 alpha-5">Uploaded on</th>
        <th class="bold small color-2 alpha-5">Views</th>
        <th class="bold small color-2 alpha-5">Likes</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
    <tr>
        <td data-title="Video">{{title}}</td>
        <td data-title="Uploaded on">{{date}}</td>
        <td data-title="Views">
            {{numberFormat views}}
            <div class="progress progress-xs">
                <div class="progress-bar bg-danger" style="width: {{percentage}}%;"></div>
            </div>
        </td>
        <td data-title="Likes">{{numberFormat likes}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
</div>
